@import "Variables";
@mixin display_flex{
  display: flex;
  justify-content: center;
  align-content: center;
}
@mixin flex-sb {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
@mixin flex-sa {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
@mixin flex-end {
  display: flex;
  justify-content:flex-end;
}
@mixin flex-start {
  display: flex;
  justify-content:flex-start;
}
@mixin flex-self{
  display: flex;
  justify-self: center;
  align-items: center;
}
@mixin flex-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
%btn-articles {
  position: absolute;
  width: 300px;
  bottom: 0;
  background-color: $dark-color;
  color: $light-color;
  padding: .7rem 3.4rem;
  outline: none;
  border: none;
  text-transform: uppercase;
  font-size: $base-font;
  span {
    font-weight: 900;
  }
  &:hover {
    background-color: $danger;
    transition: $transitions;
  }


  @media (max-width: $lg-desktop) {
    left: 42%;
  }
  @media (max-width: $desktop) {
    left: 38%;
  }
  @media (max-width: $tablet-md) {
    left: 33%;
  }
  @media (max-width: $tablet) {
    left: 30%;
  }
  @media (max-width: $sm) {
    left: 15%;
  }
  @media (max-width: 425px) {
    left: 16%;
  }
  @media (max-width: 375px) {
    left: 12%;
  }
  @media (max-width: 320px) {
    left: 4%;
  }
}
