@import "../utils/Variables";
@import "../utils/Mixins";


#alerts {
  position: relative;
  z-index: 1;
  //height: 483px;
  width: 100%;
  margin: 0 auto;
  color: $light-color;
  background: rgba(20, 22, 24, 0.12);
  @media (max-width: $sm) {
    //height: 800px;
  }

  article {
    z-index: 100;

    header {
      z-index: 100;
      text-align: center;
      padding: 2rem;

      i {
        padding: 1rem;
        font-size: 30px;
      }

      h2 {
        text-transform: uppercase;

        span {
          font-weight: 900;
        }
      }
    }

    form {
      margin: 0 auto;
      max-width: 1170px;
      @media (max-width: $sm) {
        margin: 0 2rem;
      }
    }
  }

  img {
    width: 100%;
    //height: 483px;
    height: 100%;
    filter: blur(8px) brightness(90%) contrast(200%);
    position: absolute;
    @media (max-width: 320px) {
      height: 800px;
    }
  }

  .bg-red {
    background-color: $danger;

    &:hover {
      background-color: $dark-color;
      transition: $transitions;
    }
  }
}

#submitBtn {
  margin: 1rem 0 1rem 0;
}
#clientInfo{
  display: none;
}
.clientInfo{
  display: block;
}
.inner-client {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $gray;
  color: $dark-color;
  margin: 1rem;
  padding: 1rem;
  span {
    font-weight: 700;
  }
  .sarac{
    font-weight: 900;
    color: $danger;
  }
}
