@import "../utils/Variables";
@import "../utils/Mixins";


#alerts {
  position: relative;
  //background-image: url("../assets/layer_15.webp");
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
  //background-color: #fff;
  z-index: 1;
  height: 483px;
  width: 100%;
  margin: 0 auto;
  color: $light-color;
  //filter: blur(4px);
  background: rgba(20, 22, 24, 0.12);
  article{
    z-index: 100;

    header{
      //position: absolute;
      z-index: 100;
      text-align: center;
      padding: 2rem;
      i {
        padding: 1rem;
        font-size: 36px;
      }
      h2{
        text-transform: uppercase;
        span {
          font-weight: 900;
        }
      }
    }
    form {
      margin: 0 auto;
      max-width: 1170px;
    }
  }

  img{
    width: 100%;
    height: 483px;
    filter: blur(8px) brightness(90%) contrast(200%);
    position: absolute;
  }
  .bg-red{
    background-color: $danger;
    &:hover {
      background-color: $dark-color;
      transition: $transitions;
    }
  }
}
