@import "../utils/Variables";
@import "../utils/Mixins";

#articles {
  header {
    margin: 1rem auto 2rem auto;
    text-align: center;

    i {
      font-size: 24px;
    }

    h2 {
      padding: 1rem;
    }
  }

  .new-articles {
    @include display_flex;
    border-bottom: 1px solid #ccc;
    margin: 1rem 0;
    @media (max-width: 320px) {
      flex-direction: column;
      padding: 0 0 2rem 2rem;
    }
    h6 {
      font-size: $font-xl;
      text-transform: uppercase;
    }
    p {
      line-height: 1.2;
      color: $gray;
    }
    a {
      text-decoration: underline;
      color: $danger;
      span {
        font-size: 12px;
        //padding-left: 2px;
      }
    }
  }
}

article {
  position: relative;

  .btn-wrapper{
   padding: 2rem 0 1rem 0;
    margin: 0 0 4rem 0;
    .btn-articles {
      position: absolute;
      //left: 42%;
      width: 300px;
      bottom: 0;
      background-color: $dark-color;
      color: $light-color;
      padding: .7rem 3.4rem;
      outline: none;
      border: none;
      text-transform: uppercase;
      font-size: $base-font;
      span {
        font-weight: 900;
      }
      &:hover {
        background-color: $danger;
        transition: $transitions;
      }


      @media (max-width: $lg-desktop) {
        left: 42%;
      }
      @media (max-width: $desktop) {
        left: 38%;
      }
      @media (max-width: $tablet-md) {
        left: 33%;
      }
      @media (max-width: $tablet) {
        left: 30%;
      }
      @media (max-width: $sm) {
        left: 15%;
      }
      @media (max-width: 425px) {
        left: 16%;
      }
      @media (max-width: 320px) {
        left: 4%;
      }
    }

  }
}
