@import "../utils/Variables";
@import "../utils/Mixins";

#deals {
  background: white;
  height: 400px;
  @media (max-width: $sm) {
    height: 750px;
    max-height: 800px;
  }

  .deals{
    padding: 2rem 6rem;
    margin: 0 auto;
    text-align: center;
    color: $gray;
    @media (max-width: $sm) {
      padding: 2rem 1rem;
    }

    .spinner{
      animation: infinite 22s rotate linear;
      font-size: 32px;
      padding: 1rem 0;
    }

    h3 {
      color: $dark-color;
      text-transform: uppercase;
      padding: 1rem 0;
      span {
        font-weight: 900;
      }

    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}
