@import "../utils/Variables";
@import "../utils/Mixins";

#deals {
  //clip-path: polygon(52% 0, 65% 15%, 100% 16%, 100% 100%, 0 100%, 0 16%, 30% 16%, 41% 3%, 47% 6%);
  background: white;
  height: 400px;
  .deals{
    padding: 2rem 6rem;
    margin: 0 auto;
    text-align: center;
    color: $gray;
    #spinner{
      animation: rotate 1.5s linear infinite;
    }
    h3 {
      color: $dark-color;
      text-transform: uppercase;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }

}
